p {
	color: white;
	font-size: 1.5em;
}


/*////////////////////
------INDEX-PAGE------
////////////////////*/

	/*body {
		background-image: url('../img/sky-blue.jpg');
		background-repeat: no-repeat;
		background-position: center;
		margin: 0px auto;
		position: relative;
	}

	/*----HEADER----*/
	header {
		width: 100%;
		height: 250px;
		background: #2d2d2d;
	}

	header img {
		margin: 0px auto;
		display: block;
		width: 32%;
	}

	/*----MAIN----*/
	.main h1 {
		color: white;
    	text-align: center;
    	margin-top: 25px;
    	font-size: 35px;
    	text-decoration: underline;
	}

	/*----SLIDESHOW----*/

	* {box-sizing:border-box}
	body {font-family: Verdana,sans-serif;margin:0}
	.mySlides {display:none}

	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}

		/*----BUTTONS----*/
		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			margin-top: -22px;
			padding: 16px;
			color: white;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
		}

		.next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}

		.prev:hover, .next:hover {
			background-color: rgba(0,0,0,0.8);
		}

		.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}

		.number-text {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}

		.dot {
			cursor: pointer;
			height: 13px;
			width: 13px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
			background-color: #717171;
		}

		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
			from {opacity: .4}
			to {opacity: 1}
		}

		@keyframes fade {
			from {opacity: .4}
			to {opacity: 1}
		}

	/*----MID-SECTION----*/
	#mid-section {
		display: block;
		position: absolute;
		top: 24%;
		left: 5%;
		width: 90%;
		height: 50%;
		background: black;
		opacity: 0.3;
	}

		/*----MESSAGE----*/
		#message {
			margin: 0px auto;
			display: block;
			color: white;
			text-align: justify;
			padding: 20%;
			position: absolute;
		}

		/*----NAME----*/
		#name {
			position: relative;
		}

		#name p {
			float: left;
			padding-left: 40%;/*315px*/
			padding-right: 5%;/*25px*/
			padding-top: 50%;/*370px*/
		}

		#name img {
			float: left;
			width: 20%;
			padding-right: 10%;/*10px*/
			padding-top: 50%;/*395px*/
		}

		/*----NAV----*/
		#nav ul {
			position: absolute;
		    background: black;
		    width: 95%;
		    padding-top: 10px;
		    padding-bottom: 10px;
		    top: 75%;
		}

		#nav ul li {
			display: inline;
			margin: 39px;
		}

		#nav ul li a {
			color: white;
    		text-decoration: underline;
    		font-size: 35px;
		}

	/*----FOOTER----*/
	footer {
		width: 100%;
    	margin-top: 890px;
    	height: 250px;
    	background: #2d2d2d;
    	font-size: 100px;
	}	

	footer i {
		width: 20%;
	    color: white;
	    margin: 0px auto;
	    padding-top: 7%;
	    padding-left: 11%;

	}




/*////////////////////
----MEDIA QUERIES----
///////////////////*/

@media (min-width: 768px;){

}

@media (min-width: 940px;){

}